body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Istok Web', sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.4;
}

/* Full height bg */
.bg-full {
    background-size: cover;
    min-height: calc(100% - 98px);
}

.w3-bar .w3-button {
    padding: 16px;
}

.button-right {
    line-height: 2;
}

.button-other {
	width: 120px;
}

.button-sidebar {
    font-size: 24px;
    line-height: 1.25;
}

.card {
	min-width: 200px;
    min-height: 280px;
    padding-bottom: 16px;
}

.input-auth {
	text-align: center;
	width: 120px;
	border: none;
	color: gray;
	background-color: inherit;
}

tr {
    height: 42px;
}

td {
    width: calc(100% - 60px);
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

.td-nw {
    width: 60px;
    text-align: right;
}

.td-auth-input{
    width: 120px;
    font-size: 18px;
}

.td-auth{
	width: calc(100% - 120px);
    border:none;
    font-size: 18px;
}

.parent {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.child {
    display: block;
    width: 100%;
    padding-top: 16px;
    max-width: 280px;
}

.centered {
    display: block;
	width: 80%;
	min-width: 240px;
	max-width: 480px;
}

.slider{
	width: 80%;
	max-width: 320px;
}

.alert {
    z-index: 2;
    position: fixed;
    bottom:0;
    margin: 16px 15% 16px 15%;
    width: 70%;
    padding: 8px;
    background-color: #FFFFFF;
    color: #757575;
    font-size: 20px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.32),0 0 16px 0 rgba(0,0,0,0.16);
}
